version: 2
updates:
  - package-ecosystem: gomod
    directory: "/"
    schedule:
      interval: weekly
      day: sunday
  - package-ecosystem: gomod
    directory: "/examples"
    schedule:
      interval: monthly
      day: sunday
    ignore:
      - dependency-name: "*"
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: monthly
      day: sunday
  - package-ecosystem: npm
    directory: "/tools"
    schedule:
      interval: weekly
      day: sunday
