openapi: 3.0.1
info:
  title: MongoDB Atlas Administration API
  description: |-
    The MongoDB Atlas Administration API allows developers to manage all components in MongoDB Atlas.

    The Atlas Administration API supports OAuth2 Service Accounts and HTTP Digest-based API keys. Service accounts are the recommended authentication method and API keys are considered a legacy option.

    To authenticate with a Service Account, first exchange its client ID and secret for an access token using the OAuth 2.0 Client Credentials flow. Atlas provides a token endpoint at `POST https://cloud.mongodb.com/api/oauth/token`, which returns a Bearer token that is reusable and valid for 1 hour (3600 seconds).

    For example, to [return a list of your organizations](https://www.mongodb.com/docs/api/doc/atlas-admin-api-v2/operation/operation-listorgs) with [cURL](https://en.wikipedia.org/wiki/CURL), first generate an access token and then use that token to call the same Atlas Administration API endpoint shown in the current example:

    ```
    ACCESS_TOKEN=$(curl -fsS --request POST https://cloud.mongodb.com/api/oauth/token \
      --header "Authorization: Basic $(printf '%s' "${CLIENT_ID}:${CLIENT_SECRET}" | base64 | tr -d '\n')" \
      --header "Content-Type: application/x-www-form-urlencoded" \
      --header "Accept: application/json" \
      --data "grant_type=client_credentials" | jq -r '.access_token')

    curl --header "Authorization: Bearer ${ACCESS_TOKEN}" \
      --header "Accept: application/vnd.atlas.2025-03-12+json" \
      -X GET "https://cloud.mongodb.com/api/atlas/v2/orgs?pretty=true"
    ```

    If your organization requires an IP access list for the Atlas Administration API, the token can be created from any IP address, but the API call that uses the token must originate from an allowed IP.

    To learn more, see [Get Started with the Atlas Administration API](https://www.mongodb.com/docs/atlas/configure-api-access/). For support, see [MongoDB Support](https://www.mongodb.com/support/get-started).

    You can also explore the various endpoints available through the Atlas Administration API in MongoDB's [Postman workspace](https://www.postman.com/mongodb-devrel/workspace/mongodb-atlas-administration-apis/) (requires a Postman account).
  termsOfService: https://www.mongodb.com/mongodb-management-service-terms-and-conditions
  license:
    name: CC BY-NC-SA 3.0 US
    url: https://creativecommons.org/licenses/by-nc-sa/3.0/us/
  version: "2.0"
servers:
  - url: https://cloud.mongodb.com
security:
  - ServiceAccounts: []
  - DigestAuth: []
tags:
  - name: Access Tracking
    description: Returns access logs for authentication attempts made to Atlas database deployments. To view database access history, you must have either the Project Owner or Organization Owner role.
  - name: Activity Feed
    description: Returns pre-filtered activity feed links for projects and organizations. The returned links can be shared and opened to view the activity feed with the specified filters applied.
  - name: AI Model API Keys
    description: Returns, adds, edits, and removes API Keys for your AI Models.
  - name: AI Model Rate Limits
    description: Returns, adds, edits, and removes Rate Limits for your AI Models.
  - name: Alert Configurations
    description: Returns and edits the conditions that trigger alerts and how MongoDB Cloud notifies users. This collection remains under revision and may change.
  - name: Alerts
    description: Returns and acknowledges alerts that MongoDB Cloud triggers based on the alert conditions that you define. This collection remains under revision and may change.
  - name: Atlas Search
    description: Returns, adds, edits, and removes Atlas Search indexes for the specified cluster. Also returns and updates user-defined analyzers for the specified cluster.
  - name: Auditing
    description: Returns and edits database auditing settings for MongoDB Cloud projects.
  - name: AWS Clusters DNS
    description: Returns and edits custom DNS configurations for MongoDB Cloud database deployments on AWS. The resource requires your Project ID. If you use the VPC peering on AWS and you use your own DNS servers instead of Amazon Route 53, enable custom DNS. Before 31 March 2020, applications deployed within AWS using custom DNS services and VPC-peered with MongoDB Cloud couldn't connect over private IP addresses. Custom DNS resolved to public IP addresses. AWS internal DNS resolved to private IP addresses. Applications deployed with custom DNS services in AWS should use Private IP for Peering connection strings.
  - name: Charts Dashboards
    description: Returns, adds, and edits Charts Dashboard instances. This resource applies only to projects with a Charts tenant, and requires your Project ID.
  - name: Cloud Backups
    description: Manages Cloud Backup snapshots, snapshot export buckets, restore jobs, and schedules. This resource applies only to clusters that use Cloud Backups.
  - name: Cloud Migration Service
    description: Manages the Cloud Migration Service. Source organizations, projects, and MongoDB clusters reside on Cloud Manager or Ops Manager. Destination organizations, projects, and MongoDB clusters reside on MongoDB Cloud. Source databases can't use any authentication except SCRAM-SHA.
  - name: Cloud Provider Access
    description: Returns, adds, authorizes, and removes AWS IAM roles in Atlas.
  - name: Cluster Outage Simulation
    description: Returns, starts, or ends a cluster outage simulation.
  - name: Clusters
    description: Returns, adds, edits, and removes database deployments. Changes to cluster configurations can affect costs. This resource requires your Project ID.
  - name: Collection Level Metrics
    description: Returns, adds, and edits pinned namespaces for the specified cluster or process. Also returns collection level latency metric data.
  - name: Custom Database Roles
    description: Returns, adds, edits, and removes custom database user privilege roles. Use custom roles to specify custom sets of actions that the MongoDB Cloud built-in roles can't describe. You define custom roles at the project level, for all clusters in the project. This resource supports a subset of MongoDB privilege actions. You can create a subset of custom role actions. To create a wider list of custom role actions, use the MongoDB Cloud user interface. Custom roles must include actions that all project's clusters support, and that are compatible with each MongoDB version that your project's clusters use. For example, if your project has MongoDB 4.2 clusters, you can't create custom roles that use actions introduced in MongoDB 4.4.
  - name: Data Federation
    description: Returns, adds, edits, and removes Federated Database Instances. This resource requires your project ID. Changes to federated database instance configurations can affect costs.
  - name: Data Lake Pipelines
    description: Returns, edits, and removes Atlas Data Lake Pipelines and associated runs.
    externalDocs:
      description: Data Lake Pipelines are deprecated. Please see Data Lake Deprecation Guide.
      url: https://dochub.mongodb.org/core/data-lake-deprecation
  - name: Database Users
    description: Returns, adds, edits, and removes database users.
  - name: Encryption at Rest using Customer Key Management
    description: Returns and edits the Encryption at Rest using Customer Key Management configuration. MongoDB Cloud encrypts all storage whether or not you use your own key management.
    x-xgen-IPA-exception:
      xgen-IPA-126-tag-names-should-use-title-case: Tag name predates IPA validation.
  - name: Events
    description: Returns events. This collection remains under revision and may change.
  - name: Federated Authentication
    description: Returns, adds, edits, and removes federation-related features such as role mappings and connected organization configurations.
  - name: Flex Clusters
    description: Returns, adds, edits, and removes flex clusters.
  - name: Flex Restore Jobs
    description: Returns and adds restore jobs for flex database deployments.
  - name: Flex Snapshots
    description: Returns and requests to download flex database deployment snapshots.
  - name: Global Clusters
    description: |-
      Returns, adds, and removes Global Cluster managed namespaces and custom zone mappings. Each collection in a Global Cluster is associated with a managed namespace. When you create a managed namespace for a Global Cluster, MongoDB Cloud creates an empty collection for that namespace. Creating a managed namespace doesn't populate a collection with data. Similarly, deleting a managed namespace doesn't delete the associated collection.
      MongoDB Cloud shards the empty collection using the required location field and a custom shard key. For example, if your custom shard key is `city`, the compound shard key is `location, city`. Each Global Cluster is also associated with one or more Global Writes Zones. When a user creates a Global Cluster, MongoDB Cloud automatically maps each location code to the closest geographical zone. Custom zone mappings allow administrators to override these automatic mappings. For example, a use case might require mapping a location code to a geographically distant zone. Administrators can manage custom zone mappings with the APIs below and the **Global Cluster Configuration** pane when you create or modify your Global Cluster.
  - name: Invoices
    description: Returns invoices.
  - name: LDAP Configuration
    description: Returns, edits, verifies, and removes LDAP configurations. An LDAP configuration defines settings for MongoDB Cloud to connect to your LDAP server over TLS for user authentication and authorization. Your LDAP server must be visible to the internet or connected to your MongoDB Cloud cluster with VPC Peering. Also, your LDAP server must use TLS. You must have the MongoDB Cloud admin user privilege to use these endpoints. Also, to configure user authentication and authorization with LDAPS, your cluster must run MongoDB 3.6 or higher. Groups for which you have configured LDAPS can't create a cluster using a version of MongoDB 3.6 or lower.
  - name: Legacy Backup
    description: Manages Legacy Backup snapshots, restore jobs, schedules and checkpoints.
  - name: Lifecycle Management
    description: Returns, creates, updates, and removes lifecycle management policies for a cluster within a specified project.
  - name: Limit Description
    description: Returns User-Configurable Project Limits.
  - name: Maintenance Windows
    description: Returns, edits, and removes maintenance windows. The maintenance procedure that MongoDB Cloud performs requires at least one replica set election during the maintenance window per replica set. You can defer a scheduled maintenance event for a project up to two times. Deferred maintenance events occur during your preferred maintenance window exactly one week after the previously scheduled date and time.
  - name: Metric Integrations
    description: Returns, creates, updates, and removes metric integration configurations for a project.
  - name: MongoDB Cloud Users
    description: Returns, adds, and edits MongoDB Cloud users.
  - name: Monitoring and Logs
    description: Returns database deployment monitoring and logging data.
  - name: Network Peering
    description: |-
      Returns, adds, edits, and removes network peering containers and peering connections.
      When you deploy an M10+ dedicated cluster, Atlas creates a VPC for the selected provider and region or regions if no existing VPC or VPC peering connection exists for that provider and region. Atlas assigns the VPC a Classless Inter-Domain Routing (CIDR) block.
  - name: Online Archive
    description: Returns, adds, edits, or removes an online archive.
  - name: Organizations
    description: Returns, adds, and edits organizational units in MongoDB Cloud.
  - name: Performance Advisor
    description: Returns suggested indexes and slow query data for a database deployment. Also enables or disables MongoDB Cloud-managed slow operation thresholds. To view field values in a sample query, you must have the Project Data Access Read Only role or higher. Otherwise, MongoDB Cloud returns redacted data rather than the field values.
  - name: Private Endpoint Services
    description: Returns, adds, edits, and removes private endpoint services.
  - name: Programmatic API Keys
    description: Returns, adds, edits, and removes access tokens to use the MongoDB Cloud API. MongoDB Cloud applies these keys to organizations. These resources can return, assign, or revoke use of these keys within a specified project.
  - name: Project IP Access List
    description: Returns, adds, edits, and removes network access limits to database deployments in Atlas. This resource replaces the whitelist resource. Atlas removed whitelists in July 2021. Update your applications to use this new resource. This resource manages a project's IP Access List and supports creating temporary Access List entries that automatically expire within a user-configurable 7-day period.
  - name: Projects
    description: Returns, adds, and edits collections of clusters and users in MongoDB Cloud.
  - name: Push-Based Log Export
    description: You can continually export mongod, mongos, and audit logs to an AWS S3 bucket. The new `/logIntegrations` API provides 1-minute log export on a best-effort basis. The existing `/pushBasedLogExport` API provides 5-minute log export and will be deprecated in the future. The log export integrations are managed at the project level.
  - name: Rate Limiting
    description: Returns details about rate limit policies for the Atlas Administration API.
    externalDocs:
      description: Atlas API Rate Limits documentation
      url: http://dochub.mongodb.org/core/atlas-api-rate-limit
  - name: Resource Policies
    description: Configure and manage Atlas Resource Policies within your organization.
  - name: Rolling Index
    description: Creates one index to a database deployment in a rolling manner. Rolling indexes build indexes on the applicable nodes sequentially and may reduce the performance impact of an index build if your deployment's average CPU utilization exceeds (N-1)/N-10% where N is the number of CPU threads available to mongod of if the WiredTiger cache fill ratio regularly exceeds 90%. If your deployment does not meet this criteria, use the default index build. You can't create a rolling index on an `M0` free cluster or `M2/M5` shared cluster.
  - name: Root
    description: Returns details that describe the MongoDB Cloud build and the access token that requests this resource. This starts the MongoDB Cloud API.
  - name: Sandbox
    description: Returns, adds, edits, and removes sandbox templates. Also enables/disables sandbox for an organization.
  - name: Serverless Instances
    description: Returns, adds, edits, and removes serverless instances.
  - name: Serverless Private Endpoints
    description: Returns, adds, edits, and removes private endpoints for serverless instances. To learn more, see the Atlas Administration API tab on the following tutorial.
    externalDocs:
      description: Set Up a Private Endpoint for a Serverless Instance Tutorial
      url: https://dochub.mongodb.org/core/serverless-private-endpoint
  - name: Service Accounts
    description: Endpoints for managing Service Accounts and secrets. Service Accounts are used for programmatic access to the Atlas Admin API through the OAuth 2.0 Client Credentials flow.
    externalDocs:
      description: Get Started with the Atlas Administration API
      url: https://www.mongodb.com/docs/atlas/configure-api-access/
  - name: Shared-Tier Restore Jobs
    description: Returns and adds restore jobs for shared-tier database deployments.
  - name: Shared-Tier Snapshots
    description: Returns and requests to download shared-tier database deployment snapshots.
  - name: Standby Links
    description: Returns, adds, edits, and removes standby links between clusters for disaster recovery within a specified project.
  - name: Streams
    description: Returns, adds, edits, and removes Streams Workspaces. This resource requires your project ID.
  - name: Teams
    description: Returns, adds, edits, or removes teams.
  - name: Test
    description: Atlas test endpoints.
  - name: Third-Party Integrations
    description: |-
      Returns, adds, edits, and removes third-party service integration configurations. MongoDB Cloud sends alerts to each third-party service that you configure.

      **IMPORTANT**: Each project can only have one configuration per `integrationType`.
  - name: X.509 Authentication
    description: Returns, edits, and removes user-managed X.509 configurations. Also returns and generates MongoDB Cloud-managed X.509 certificates for database users. The following resources help manage database users who authenticate using X.509 certificates. You can manage these X.509 certificates or let MongoDB Cloud do it for you. If MongoDB Cloud manages your certificates, it also manages your Certificate Authority and can generate certificates for your database users. No additional X.509 configuration is required. If you manage your certificates, you must provide a Certificate Authority and generate certificates for your database users.
    externalDocs:
      description: Self-Managed X.509 Certificates
      url: https://www.mongodb.com/docs/atlas/security-self-managed-x509/
    x-xgen-IPA-exception:
      xgen-IPA-126-tag-names-should-use-title-case: Tag name predates IPA validation.
paths:
  /api/atlas/v2/eventTypes:
    get:
      tags:
        - Events
      summary: Return All Event Types
      description: Returns a list of all event types, along with a description and additional metadata about each event.
      operationId: listEventTypes
      parameters:
        - $ref: "#/components/parameters/includeCount"
        - $ref: "#/components/parameters/itemsPerPage"
        - $ref: "#/components/parameters/pageNum"
      responses:
        "200":
          description: OK
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/HeaderRateLimitLimit"
            RateLimit-Remaining:
              $ref: "#/components/headers/HeaderRateLimitRemaining"
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: "#/components/schemas/PaginatedEventTypeDetailsResponse"
              x-xgen-version: 2023-01-01
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "429":
          $ref: "#/components/responses/tooManyRequests"
        "500":
          $ref: "#/components/responses/internalServerError"
      x-xgen-owner-team: CAP
      x-rolesRequirements:
        - Organization Member
        - Project Read Only
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Events/operation/listEventTypes
    x-xgen-IPA-exception:
      xgen-IPA-104-resource-has-GET: API predates IPA validation.
  /api/atlas/v2/groups/{groupId}/events:
    get:
      tags:
        - Events
      summary: Return Events from One Project
      description: |-
        Returns events for the specified project. Events identify significant database, billing, or security activities or status changes. To use this resource, the requesting Service Account or API Key must have the Project Read Only role.

        This resource remains under revision and may change.
      operationId: listGroupEvents
      parameters:
        - $ref: "#/components/parameters/groupId"
        - $ref: "#/components/parameters/includeCount"
        - $ref: "#/components/parameters/itemsPerPage"
        - $ref: "#/components/parameters/pageNum"
        - name: clusterNames
          in: query
          description: Human-readable label that identifies the cluster.
          style: form
          schema:
            type: array
            items:
              pattern: ^[a-zA-Z0-9][a-zA-Z0-9-]*$
              type: string
            x-xgen-IPA-exception:
              xgen-IPA-124-array-max-items: Schema predates IPA validation.
        - name: eventType
          in: query
          description: |-
            Category of incident recorded at this moment in time.

            **IMPORTANT**: The complete list of event type values changes frequently.
          schema:
            type: array
            items:
              $ref: "#/components/schemas/EventTypeForNdsGroup"
            x-xgen-IPA-exception:
              xgen-IPA-124-array-max-items: Schema predates IPA validation.
        - name: excludedEventType
          in: query
          description: |-
            Category of event that you would like to exclude from query results, such as `CLUSTER_CREATED`.

            **IMPORTANT**: Event type names change frequently. Verify that you specify the event type correctly by checking the complete list of event types.
          schema:
            type: array
            items:
              $ref: "#/components/schemas/EventTypeForNdsGroup"
            x-xgen-IPA-exception:
              xgen-IPA-124-array-max-items: Schema predates IPA validation.
        - name: includeRaw
          in: query
          description: Flag that indicates whether to include the raw document in the output. The raw document contains additional meta information about the event.
          schema:
            type: boolean
            default: false
        - name: maxDate
          in: query
          description: Date and time from when MongoDB Cloud stops returning events. This parameter uses the ISO 8601 timestamp format in UTC.
          schema:
            type: string
            format: date-time
            externalDocs:
              description: ISO 8601
              url: https://en.wikipedia.org/wiki/ISO_8601
        - name: minDate
          in: query
          description: Date and time from when MongoDB Cloud starts returning events. This parameter uses the ISO 8601 timestamp format in UTC.
          schema:
            type: string
            format: date-time
            externalDocs:
              description: ISO 8601
              url: https://en.wikipedia.org/wiki/ISO_8601
      responses:
        "200":
          description: OK
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/HeaderRateLimitLimit"
            RateLimit-Remaining:
              $ref: "#/components/headers/HeaderRateLimitRemaining"
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: "#/components/schemas/GroupPaginatedEvent"
              x-xgen-IPA-exception:
                xgen-IPA-110-collections-use-paginated-prefix: Content predates IPA validation.
              x-xgen-version: 2023-01-01
        "400":
          $ref: "#/components/responses/badRequest"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/notFound"
        "429":
          $ref: "#/components/responses/tooManyRequests"
        "500":
          $ref: "#/components/responses/internalServerError"
      x-xgen-owner-team: CAP
      x-rolesRequirements:
        - Project Read Only
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Events/operation/listGroupEvents
  /api/atlas/v2/groups/{groupId}/events/{eventId}:
    get:
      tags:
        - Events
      summary: Return One Event from One Project
      description: |-
        Returns one event for the specified project. Events identify significant database, billing, or security activities or status changes. To use this resource, the requesting Service Account or API Key must have the Project Read Only role. Use the Return Events from One Project endpoint to retrieve all events to which the authenticated user has access.

        This resource remains under revision and may change.
      externalDocs:
        description: Return Events from One Project
        url: https://www.mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Events/operation/listProjectEvents
      operationId: getGroupEvent
      parameters:
        - $ref: "#/components/parameters/groupId"
        - name: eventId
          in: path
          description: Unique 24-hexadecimal digit string that identifies the event that you want to return.
          required: true
          schema:
            pattern: ^([a-f0-9]{24})$
            type: string
        - name: includeRaw
          in: query
          description: Flag that indicates whether to include the raw document in the output. The raw document contains additional meta information about the event.
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: OK
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/HeaderRateLimitLimit"
            RateLimit-Remaining:
              $ref: "#/components/headers/HeaderRateLimitRemaining"
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: "#/components/schemas/EventViewForNdsGroup"
              x-xgen-IPA-exception:
                xgen-IPA-104-get-method-returns-response-suffixed-object: API predates IPA validation.
              x-xgen-version: 2023-01-01
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/notFound"
        "429":
          $ref: "#/components/responses/tooManyRequests"
        "500":
          $ref: "#/components/responses/internalServerError"
      x-xgen-owner-team: CAP
      x-rolesRequirements:
        - Project Read Only
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Events/operation/getGroupEvent
  /api/atlas/v2/orgs/{orgId}/events:
    get:
      tags:
        - Events
      summary: Return Events from One Organization
      description: |-
        Returns events for the specified organization. Events identify significant database, billing, or security activities or status changes. To use this resource, the requesting Service Account or API Key must have the Organization Member role.

        This resource remains under revision and may change.
      operationId: listOrgEvents
      parameters:
        - $ref: "#/components/parameters/includeCount"
        - $ref: "#/components/parameters/itemsPerPage"
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/pageNum"
        - name: eventType
          in: query
          description: |-
            Category of incident recorded at this moment in time.

            **IMPORTANT**: The complete list of event type values changes frequently.
          schema:
            type: array
            items:
              $ref: "#/components/schemas/EventTypeForOrg"
            x-xgen-IPA-exception:
              xgen-IPA-124-array-max-items: Schema predates IPA validation.
        - name: includeRaw
          in: query
          description: Flag that indicates whether to include the raw document in the output. The raw document contains additional meta information about the event.
          schema:
            type: boolean
            default: false
        - name: maxDate
          in: query
          description: Date and time from when MongoDB Cloud stops returning events. This parameter uses the ISO 8601 timestamp format in UTC.
          schema:
            type: string
            format: date-time
            externalDocs:
              description: ISO 8601
              url: https://en.wikipedia.org/wiki/ISO_8601
        - name: minDate
          in: query
          description: Date and time from when MongoDB Cloud starts returning events. This parameter uses the ISO 8601 timestamp format in UTC.
          schema:
            type: string
            format: date-time
            externalDocs:
              description: ISO 8601
              url: https://en.wikipedia.org/wiki/ISO_8601
      responses:
        "200":
          description: OK
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/HeaderRateLimitLimit"
            RateLimit-Remaining:
              $ref: "#/components/headers/HeaderRateLimitRemaining"
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: "#/components/schemas/OrgPaginatedEvent"
              x-xgen-IPA-exception:
                xgen-IPA-110-collections-use-paginated-prefix: Content predates IPA validation.
              x-xgen-version: 2023-01-01
        "400":
          $ref: "#/components/responses/badRequest"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/notFound"
        "429":
          $ref: "#/components/responses/tooManyRequests"
        "500":
          $ref: "#/components/responses/internalServerError"
      x-xgen-owner-team: CAP
      x-rolesRequirements:
        - Organization Member
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Events/operation/listOrgEvents
  /api/atlas/v2/orgs/{orgId}/events/{eventId}:
    get:
      tags:
        - Events
      summary: Return One Event from One Organization
      description: |-
        Returns one event for the specified organization. Events identify significant database, billing, or security activities or status changes. To use this resource, the requesting Service Account or API Key must have the Organization Member role. Use the Return Events from One Organization endpoint to retrieve all events to which the authenticated user has access.

        This resource remains under revision and may change.
      externalDocs:
        description: Return Events from One Organization
        url: https://www.mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Events/operation/listOrganizationEvents
      operationId: getOrgEvent
      parameters:
        - $ref: "#/components/parameters/orgId"
        - name: eventId
          in: path
          description: Unique 24-hexadecimal digit string that identifies the event that you want to return.
          required: true
          schema:
            pattern: ^([a-f0-9]{24})$
            type: string
        - name: includeRaw
          in: query
          description: Flag that indicates whether to include the raw document in the output. The raw document contains additional meta information about the event.
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: OK
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/HeaderRateLimitLimit"
            RateLimit-Remaining:
              $ref: "#/components/headers/HeaderRateLimitRemaining"
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: "#/components/schemas/EventViewForOrg"
              x-xgen-IPA-exception:
                xgen-IPA-104-get-method-returns-response-suffixed-object: API predates IPA validation.
              x-xgen-version: 2023-01-01
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/notFound"
        "429":
          $ref: "#/components/responses/tooManyRequests"
        "500":
          $ref: "#/components/responses/internalServerError"
      x-xgen-owner-team: CAP
      x-rolesRequirements:
        - Organization Member
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Events/operation/getOrgEvent
  /api/atlas/v2/groups/{groupId}/activityFeed:
    get:
      tags:
        - Activity Feed
      summary: Return Pre-Filtered Activity Feed Link for One Project
      description: Returns a pre-filtered activity feed link for the specified project based on the provided date range and event types. The returned link can be shared and opened to view the activity feed with the same filters applied. To use this resource, the requesting Service Account or API Key must have the Project Read Only role or higher.
      operationId: getGroupActivityFeed
      parameters:
        - $ref: "#/components/parameters/groupId"
        - name: eventType
          in: query
          description: |-
            Category of incident recorded at this moment in time.

            **IMPORTANT**: The complete list of event type values changes frequently.
          schema:
            maxItems: 20
            type: array
            description: List of event types to filter the activity feed.
            externalDocs:
              description: Event Types
              url: https://www.mongodb.com/docs/atlas/reference/atlas-alert-event-types/
            items:
              $ref: "#/components/schemas/EventTypeForNdsGroup"
        - name: maxDate
          in: query
          description: End date and time for events to include in the activity feed link. ISO 8601 timestamp format in UTC.
          schema:
            type: string
            format: date-time
            externalDocs:
              description: ISO 8601
              url: https://en.wikipedia.org/wiki/ISO_8601
        - name: minDate
          in: query
          description: Start date and time for events to include in the activity feed link. ISO 8601 timestamp format in UTC.
          schema:
            type: string
            format: date-time
            externalDocs:
              description: ISO 8601
              url: https://en.wikipedia.org/wiki/ISO_8601
        - name: clusterName
          in: query
          description: Human-readable label that identifies the cluster.
          schema:
            maxItems: 20
            type: array
            description: List of cluster names to filter the activity feed.
            items:
              type: string
      responses:
        "200":
          description: OK
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/HeaderRateLimitLimit"
            RateLimit-Remaining:
              $ref: "#/components/headers/HeaderRateLimitRemaining"
          content:
            application/vnd.atlas.2025-03-12+json:
              schema:
                $ref: "#/components/schemas/ActivityFeedLinkResponse"
              x-xgen-version: 2025-03-12
        "400":
          $ref: "#/components/responses/badRequest"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/notFound"
        "429":
          $ref: "#/components/responses/tooManyRequests"
        "500":
          $ref: "#/components/responses/internalServerError"
      x-xgen-owner-team: CAP
      x-rolesRequirements:
        - Project Read Only
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Activity-Feed/operation/getGroupActivityFeed
    x-xgen-IPA-exception:
      xgen-IPA-113-singleton-should-have-update-method: Resource is read-only. IPAs does not yet support read-only singleton resources.
  /api/atlas/v2/orgs/{orgId}/activityFeed:
    get:
      tags:
        - Activity Feed
      summary: Return Pre-Filtered Activity Feed Link for One Organization
      description: Returns a pre-filtered activity feed link for the specified organization based on the provided date range and event types. The returned link can be shared and opened to view the activity feed with the same filters applied. To use this resource, the requesting Service Account or API Key must have the Organization Member role.
      operationId: getOrgActivityFeed
      parameters:
        - $ref: "#/components/parameters/orgId"
        - name: eventType
          in: query
          description: |-
            Category of incident recorded at this moment in time.

            **IMPORTANT**: The complete list of event type values changes frequently.
          schema:
            maxItems: 20
            type: array
            description: List of event types to filter the activity feed.
            externalDocs:
              description: Event Types
              url: https://www.mongodb.com/docs/atlas/reference/atlas-alert-event-types/
            items:
              $ref: "#/components/schemas/EventTypeForOrg"
        - name: maxDate
          in: query
          description: End date and time for events to include in the activity feed link. ISO 8601 timestamp format in UTC.
          schema:
            type: string
            format: date-time
            externalDocs:
              description: ISO 8601
              url: https://en.wikipedia.org/wiki/ISO_8601
        - name: minDate
          in: query
          description: Start date and time for events to include in the activity feed link. ISO 8601 timestamp format in UTC.
          schema:
            type: string
            format: date-time
            externalDocs:
              description: ISO 8601
              url: https://en.wikipedia.org/wiki/ISO_8601
      responses:
        "200":
          description: OK
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/HeaderRateLimitLimit"
            RateLimit-Remaining:
              $ref: "#/components/headers/HeaderRateLimitRemaining"
          content:
            application/vnd.atlas.2025-03-12+json:
              schema:
                $ref: "#/components/schemas/ActivityFeedLinkResponse"
              x-xgen-version: 2025-03-12
        "400":
          $ref: "#/components/responses/badRequest"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/notFound"
        "429":
          $ref: "#/components/responses/tooManyRequests"
        "500":
          $ref: "#/components/responses/internalServerError"
      x-xgen-owner-team: CAP
      x-rolesRequirements:
        - Organization Member
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Activity-Feed/operation/getOrgActivityFeed
    x-xgen-IPA-exception:
      xgen-IPA-113-singleton-should-have-update-method: Resource is read-only. IPAs does not yet support read-only singleton resources.
  /api/atlas/v2/groups/{groupId}/alertConfigs/{alertConfigId}/alerts:
    get:
      tags:
        - Alerts
      summary: Return All Open Alerts for One Alert Configuration
      description: |-
        Returns all open alerts that the specified alert configuration triggers. These alert configurations apply to the specified project only. Alert configurations define the triggers and notification methods for alerts. Open alerts have been triggered but remain unacknowledged. To use this resource, the requesting Service Account or API Key must have the Project Read Only role. Use the Return All Alert Configurations for One Project endpoint to retrieve all alert configurations to which the authenticated user has access.

        This resource remains under revision and may change.
      externalDocs:
        description: Return All Alert Configurations for One Project
        url: https://www.mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Alert-Configurations/operation/listAlertConfigurations
      operationId: getAlertConfigAlerts
      parameters:
        - $ref: "#/components/parameters/groupId"
        - $ref: "#/components/parameters/includeCount"
        - $ref: "#/components/parameters/itemsPerPage"
        - $ref: "#/components/parameters/pageNum"
        - name: alertConfigId
          in: path
          description: Unique 24-hexadecimal digit string that identifies the alert configuration.
          required: true
          schema:
            pattern: ^([a-f0-9]{24})$
            type: string
            example: 32b6e34b3d91647abb20e7b8
      responses:
        "200":
          description: OK
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/HeaderRateLimitLimit"
            RateLimit-Remaining:
              $ref: "#/components/headers/HeaderRateLimitRemaining"
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: "#/components/schemas/PaginatedAlert"
              x-xgen-IPA-exception:
                xgen-IPA-104-get-method-returns-single-resource: API predates IPA validation.
                xgen-IPA-104-get-method-returns-response-suffixed-object: API predates IPA validation.
              x-xgen-version: 2023-01-01
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/notFound"
        "429":
          $ref: "#/components/responses/tooManyRequests"
        "500":
          $ref: "#/components/responses/internalServerError"
      x-xgen-owner-team: CAP
      x-rolesRequirements:
        - Project Read Only
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Alerts/operation/getGroupAlertConfigAlerts
    x-xgen-IPA-exception:
      xgen-IPA-113-singleton-should-have-update-method: API predates IPA validation.
  /api/atlas/v2/groups/{groupId}/alerts/{alertId}:
    get:
      tags:
        - Alerts
      summary: Return One Alert from One Project
      description: |-
        Returns one alert. This alert applies to any component in one project. You receive an alert when a monitored component meets or exceeds a value you set. To use this resource, the requesting Service Account or API Key must have the Project Read Only role. Use the Return All Alerts from One Project endpoint to retrieve all alerts to which the authenticated user has access.

        This resource remains under revision and may change.
      externalDocs:
        description: Return All Alerts from One Project
        url: https://www.mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Alerts/operation/listAlerts
      operationId: getAlert
      parameters:
        - $ref: "#/components/parameters/groupId"
        - name: alertId
          in: path
          description: Unique 24-hexadecimal digit string that identifies the alert.
          required: true
          schema:
            pattern: ^([a-f0-9]{24})$
            type: string
      responses:
        "200":
          description: OK
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/HeaderRateLimitLimit"
            RateLimit-Remaining:
              $ref: "#/components/headers/HeaderRateLimitRemaining"
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: "#/components/schemas/AlertViewForNdsGroup"
              x-xgen-IPA-exception:
                xgen-IPA-104-get-method-returns-response-suffixed-object: API predates IPA validation.
              x-xgen-version: 2023-01-01
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/notFound"
        "429":
          $ref: "#/components/responses/tooManyRequests"
        "500":
          $ref: "#/components/responses/internalServerError"
      x-xgen-owner-team: CAP
      x-rolesRequirements:
        - Project Read Only
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Alerts/operation/getGroupAlert
    patch:
      tags:
        - Alerts
      summary: Acknowledge One Alert from One Project
      description: |-
        Confirms receipt of one existing alert. This alert applies to any component in one project. Acknowledging an alert prevents successive notifications. You receive an alert when a monitored component meets or exceeds a value you set until you acknowledge the alert. To use this resource, the requesting Service Account or API Key must have the Project Alerts Manager, Project Monitoring Admin, Organization Owner, or Project Owner role. Use the Return All Alerts from One Project endpoint to retrieve all alerts to which the authenticated user has access.

        This resource remains under revision and may change.
      externalDocs:
        description: Return All Alerts from One Project
        url: https://www.mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Alerts/operation/listAlerts
      operationId: acknowledgeAlert
      parameters:
        - $ref: "#/components/parameters/groupId"
        - name: alertId
          in: path
          description: Unique 24-hexadecimal digit string that identifies the alert.
          required: true
          schema:
            pattern: ^([a-f0-9]{24})$
            type: string
      requestBody:
        description: Acknowledges or unacknowledges one alert.
        content:
          application/vnd.atlas.2023-01-01+json:
            schema:
              $ref: "#/components/schemas/Alert"
            x-xgen-IPA-exception:
              xgen-IPA-107-update-method-request-has-no-readonly-fields: Content predates IPA validation.
              xgen-IPA-107-update-method-request-body-is-update-request-suffixed-object: API predates IPA validation.
          application/vnd.atlas.2024-05-30+json:
            schema:
              $ref: "#/components/schemas/AcknowledgeAlert"
            x-xgen-IPA-exception:
              xgen-IPA-107-update-method-request-has-no-readonly-fields: Content predates IPA validation.
              xgen-IPA-107-update-method-request-body-is-update-request-suffixed-object: API predates IPA validation.
        required: true
      responses:
        "200":
          description: OK
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/HeaderRateLimitLimit"
            RateLimit-Remaining:
              $ref: "#/components/headers/HeaderRateLimitRemaining"
          content:
            application/vnd.atlas.2024-05-30+json:
              schema:
                $ref: "#/components/schemas/AlertViewForNdsGroup"
              x-xgen-version: 2024-05-30
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: "#/components/schemas/AlertViewForNdsGroup"
              x-xgen-version: 2023-01-01
              x-sunset: 2027-07-01
        "400":
          $ref: "#/components/responses/badRequest"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/notFound"
        "429":
          $ref: "#/components/responses/tooManyRequests"
        "500":
          $ref: "#/components/responses/internalServerError"
      x-xgen-owner-team: CAP
      x-xgen-method-verb-override:
        verb: acknowledge
        customMethod: true
      x-rolesRequirements:
        - Project Alerts Manager
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Alerts/operation/acknowledgeGroupAlert
  /api/atlas/v2/groups/{groupId}/alerts:
    get:
      tags:
        - Alerts
      summary: Return All Alerts from One Project
      description: |-
        Returns all alerts. These alerts apply to all components in one project. You receive an alert when a monitored component meets or exceeds a value you set. To use this resource, the requesting Service Account or API Key must have the Project Read Only role.

        This resource remains under revision and may change.
      operationId: listAlerts
      parameters:
        - $ref: "#/components/parameters/groupId"
        - $ref: "#/components/parameters/includeCount"
        - $ref: "#/components/parameters/itemsPerPage"
        - $ref: "#/components/parameters/pageNum"
        - name: status
          in: query
          description: Status of the alerts to return. Omit this parameter to return all alerts in all statuses. TRACKING indicates the alert condition exists but has not persisted for the minimum notification delay. OPEN indicates the alert condition currently exists. CLOSED indicates the alert condition has been resolved.
          schema:
            type: string
      responses:
        "200":
          description: OK
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/HeaderRateLimitLimit"
            RateLimit-Remaining:
              $ref: "#/components/headers/HeaderRateLimitRemaining"
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: "#/components/schemas/PaginatedAlert"
              x-xgen-version: 2023-01-01
        "400":
          $ref: "#/components/responses/badRequest"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/notFound"
        "429":
          $ref: "#/components/responses/tooManyRequests"
        "500":
          $ref: "#/components/responses/internalServerError"
      x-xgen-owner-team: CAP
      x-rolesRequirements:
        - Project Read Only
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Alerts/operation/listGroupAlerts
  /api/atlas/v2/groups/{groupId}/alerts/{alertId}/alertConfigs:
    get:
      tags:
        - Alert Configurations
      summary: Return All Alert Configurations Set for One Alert
      description: |-
        Returns all alert configurations set for the specified alert. To use this resource, the requesting Service Account or API Key must have the Project Read Only role. Use the Return All Alerts from One Project endpoint to retrieve all alerts to which the authenticated user has access.

        This resource remains under revision and may change.
      externalDocs:
        description: Return All Alerts from One Project
        url: https://www.mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Alerts/operation/listAlerts
      operationId: getAlertConfigs
      parameters:
        - $ref: "#/components/parameters/groupId"
        - $ref: "#/components/parameters/includeCount"
        - $ref: "#/components/parameters/itemsPerPage"
        - $ref: "#/components/parameters/pageNum"
        - name: alertId
          in: path
          description: Unique 24-hexadecimal digit string that identifies the alert.
          required: true
          schema:
            pattern: ^([a-f0-9]{24})$
            type: string
      responses:
        "200":
          description: OK
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/HeaderRateLimitLimit"
            RateLimit-Remaining:
              $ref: "#/components/headers/HeaderRateLimitRemaining"
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: "#/components/schemas/PaginatedAlertConfig"
              x-xgen-IPA-exception:
                xgen-IPA-104-get-method-returns-single-resource: API predates IPA validation.
                xgen-IPA-104-get-method-returns-response-suffixed-object: API predates IPA validation.
              x-xgen-version: 2023-01-01
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/notFound"
        "429":
          $ref: "#/components/responses/tooManyRequests"
        "500":
          $ref: "#/components/responses/internalServerError"
      x-xgen-owner-team: CAP
      x-rolesRequirements:
        - Project Read Only
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Alert-Configurations/operation/getGroupAlertAlertConfigs
    x-xgen-IPA-exception:
      xgen-IPA-113-singleton-should-have-update-method: API predates IPA validation.
  /api/atlas/v2/alertConfigs/matchers/fieldNames:
    get:
      tags:
        - Alert Configurations
      summary: Return All Alert Configuration Matchers Field Names
      description: Get all field names that the `matchers.fieldName` parameter accepts when you create or update an Alert Configuration. You can successfully call this endpoint with any assigned role.
      operationId: listMatcherFieldNames
      parameters: []
      responses:
        "200":
          description: OK
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/HeaderRateLimitLimit"
            RateLimit-Remaining:
              $ref: "#/components/headers/HeaderRateLimitRemaining"
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/MatcherField"
                x-xgen-IPA-exception:
                  xgen-IPA-124-array-max-items: Schema predates IPA validation.
              x-xgen-version: 2023-01-01
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "429":
          $ref: "#/components/responses/tooManyRequests"
        "500":
          $ref: "#/components/responses/internalServerError"
      x-xgen-owner-team: CAP
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Alert-Configurations/operation/listAlertConfigMatcherFieldNames
    x-xgen-IPA-exception:
      xgen-IPA-102-path-alternate-resource-name-path-param: API predates IPA validation.
  /api/atlas/v2/groups/{groupId}/alertConfigs:
    get:
      tags:
        - Alert Configurations
      summary: Return All Alert Configurations in One Project
      description: |-
        Returns all alert configurations for one project. These alert configurations apply to any component in the project. Alert configurations define the triggers and notification methods for alerts. To use this resource, the requesting Service Account or API Key must have the Project Read Only role.

        This resource remains under revision and may change.
      operationId: listAlertConfigs
      parameters:
        - $ref: "#/components/parameters/groupId"
        - $ref: "#/components/parameters/includeCount"
        - $ref: "#/components/parameters/itemsPerPage"
        - $ref: "#/components/parameters/pageNum"
      responses:
        "200":
          description: OK
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/HeaderRateLimitLimit"
            RateLimit-Remaining:
              $ref: "#/components/headers/HeaderRateLimitRemaining"
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: "#/components/schemas/PaginatedAlertConfig"
              x-xgen-version: 2023-01-01
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/notFound"
        "429":
          $ref: "#/components/responses/tooManyRequests"
        "500":
          $ref: "#/components/responses/internalServerError"
      x-xgen-owner-team: CAP
      x-rolesRequirements:
        - Project Read Only
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Alert-Configurations/operation/listGroupAlertConfigs
    post:
      tags:
        - Alert Configurations
      summary: Create One Alert Configuration in One Project
      description: |-
        Creates one alert configuration for the specified project. Alert configurations define the triggers and notification methods for alerts. To use this resource, the requesting Service Account or API Key must have the Project Alerts Manager, Project Monitoring Admin, Organization Owner, or Project Owner role.

        This resource remains under revision and may change.
      operationId: createAlertConfig
      parameters:
        - $ref: "#/components/parameters/groupId"
      requestBody:
        description: Creates one alert configuration for the specified project.
        content:
          application/vnd.atlas.2023-01-01+json:
            schema:
              $ref: "#/components/schemas/GroupAlertsConfig"
            x-xgen-IPA-exception:
              xgen-IPA-106-create-method-request-body-is-request-suffixed-object: Content predates IPA validation.
              xgen-IPA-106-create-method-request-has-no-readonly-fields: Content predates IPA validation.
        required: true
      responses:
        "200":
          description: OK
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/HeaderRateLimitLimit"
            RateLimit-Remaining:
              $ref: "#/components/headers/HeaderRateLimitRemaining"
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: "#/components/schemas/GroupAlertsConfig"
              x-xgen-version: 2023-01-01
        "400":
          $ref: "#/components/responses/badRequest"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/notFound"
        "429":
          $ref: "#/components/responses/tooManyRequests"
        "500":
          $ref: "#/components/responses/internalServerError"
      x-xgen-IPA-exception:
        xgen-IPA-106-create-method-response-code-is-201: API predates IPA validation.
      x-xgen-owner-team: CAP
      x-rolesRequirements:
        - Project Alerts Manager
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Alert-Configurations/operation/createGroupAlertConfig
  /api/atlas/v2/groups/{groupId}/alertConfigs/{alertConfigId}:
    get:
      tags:
        - Alert Configurations
      summary: Return One Alert Configuration from One Project
      description: |-
        Returns the specified alert configuration from the specified project. To use this resource, the requesting Service Account or API Key must have the Project Read Only role. Use the Return All Alert Configurations for One Project endpoint to retrieve all alert configurations to which the authenticated user has access.

        This resource remains under revision and may change.
      externalDocs:
        description: Return All Alert Configurations for One Project
        url: https://www.mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Alert-Configurations/operation/listAlertConfigurations
      operationId: getAlertConfig
      parameters:
        - $ref: "#/components/parameters/groupId"
        - name: alertConfigId
          in: path
          description: Unique 24-hexadecimal digit string that identifies the alert configuration.
          required: true
          schema:
            pattern: ^([a-f0-9]{24})$
            type: string
            example: 32b6e34b3d91647abb20e7b8
      responses:
        "200":
          description: OK
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/HeaderRateLimitLimit"
            RateLimit-Remaining:
              $ref: "#/components/headers/HeaderRateLimitRemaining"
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: "#/components/schemas/GroupAlertsConfig"
              x-xgen-IPA-exception:
                xgen-IPA-104-get-method-returns-response-suffixed-object: API predates IPA validation.
              x-xgen-version: 2023-01-01
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/notFound"
        "429":
          $ref: "#/components/responses/tooManyRequests"
        "500":
          $ref: "#/components/responses/internalServerError"
      x-xgen-owner-team: CAP
      x-rolesRequirements:
        - Project Read Only
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Alert-Configurations/operation/getGroupAlertConfig
    put:
      tags:
        - Alert Configurations
      summary: Update One Alert Configuration in One Project
      description: |-
        Updates one alert configuration in the specified project. Alert configurations define the triggers and notification methods for alerts. To use this resource, the requesting Service Account or API Key must have the Project Alerts Manager, Project Monitoring Admin, Organization Owner, or Project Owner role.

        **NOTE**: To enable or disable the alert configuration, see Toggle One State of One Alert Configuration in One Project.

        This resource remains under revision and may change.
      externalDocs:
        description: Toggle One State of One Alert Configuration in One Project
        url: https://www.mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Alert-Configurations/operation/toggleAlertConfiguration
      operationId: updateAlertConfig
      parameters:
        - $ref: "#/components/parameters/groupId"
        - name: alertConfigId
          in: path
          description: Unique 24-hexadecimal digit string that identifies the alert configuration.
          required: true
          schema:
            pattern: ^([a-f0-9]{24})$
            type: string
            example: 32b6e34b3d91647abb20e7b8
      requestBody:
        description: Updates one alert configuration in the specified project.
        content:
          application/vnd.atlas.2023-01-01+json:
            schema:
              $ref: "#/components/schemas/GroupAlertsConfig"
            x-xgen-IPA-exception:
              xgen-IPA-107-update-method-request-has-no-readonly-fields: Content predates IPA validation.
              xgen-IPA-107-update-method-request-body-is-update-request-suffixed-object: API predates IPA validation.
        required: true
      responses:
        "200":
          description: OK
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/HeaderRateLimitLimit"
            RateLimit-Remaining:
              $ref: "#/components/headers/HeaderRateLimitRemaining"
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: "#/components/schemas/GroupAlertsConfig"
              x-xgen-version: 2023-01-01
        "400":
          $ref: "#/components/responses/badRequest"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/notFound"
        "429":
          $ref: "#/components/responses/tooManyRequests"
        "500":
          $ref: "#/components/responses/internalServerError"
      x-xgen-owner-team: CAP
      x-rolesRequirements:
        - Project Alerts Manager
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Alert-Configurations/operation/updateGroupAlertConfig
    delete:
      tags:
        - Alert Configurations
      summary: Remove One Alert Configuration from One Project
      description: |-
        Removes one alert configuration from the specified project. To use this resource, the requesting Service Account or API Key must have the Project Alerts Manager, Project Monitoring Admin, Organization Owner, or Project Owner role. Use the Return All Alert Configurations for One Project endpoint to retrieve all alert configurations to which the authenticated user has access.

        This resource remains under revision and may change.
      externalDocs:
        description: Return All Alert Configurations for One Project
        url: https://www.mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Alert-Configurations/operation/listAlertConfigurations
      operationId: deleteAlertConfig
      parameters:
        - $ref: "#/components/parameters/groupId"
        - name: alertConfigId
          in: path
          description: Unique 24-hexadecimal digit string that identifies the alert configuration.
          required: true
          schema:
            pattern: ^([a-f0-9]{24})$
            type: string
            example: 32b6e34b3d91647abb20e7b8
      responses:
        "204":
          description: No Content
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/HeaderRateLimitLimit"
            RateLimit-Remaining:
              $ref: "#/components/headers/HeaderRateLimitRemaining"
          content:
            application/vnd.atlas.2023-01-01+json:
              x-xgen-version: 2023-01-01
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/notFound"
        "429":
          $ref: "#/components/responses/tooManyRequests"
        "500":
          $ref: "#/components/responses/internalServerError"
      x-xgen-owner-team: CAP
      x-rolesRequirements:
        - Project Alerts Manager
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Alert-Configurations/operation/deleteGroupAlertConfig
    patch:
      tags:
        - Alert Configurations
      summary: Toggle State of One Alert Configuration in One Project
      description: |-
        Enables or disables the specified alert configuration in the specified project. The resource enables the specified alert configuration if currently enabled. The resource disables the specified alert configuration if currently disabled. To use this resource, the requesting Service Account or API Key must have the Project Alerts Manager, Project Monitoring Admin, Organization Owner, or Project Owner role.

        **NOTE**: This endpoint updates only the enabled/disabled state for the alert configuration. To update more than just this configuration, see Update One Alert Configuration.

        This resource remains under revision and may change.
      externalDocs:
        description: Update One Alert Configuration
        url: https://www.mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Alert-Configurations/operation/updateAlertConfiguration
      operationId: toggleAlertConfig
      parameters:
        - $ref: "#/components/parameters/groupId"
        - name: alertConfigId
          in: path
          description: Unique 24-hexadecimal digit string that identifies the alert configuration that triggered this alert.
          required: true
          schema:
            pattern: ^([a-f0-9]{24})$
            type: string
            example: 32b6e34b3d91647abb20e7b8
      requestBody:
        description: Enables or disables the specified alert configuration in the specified project.
        content:
          application/vnd.atlas.2023-01-01+json:
            schema:
              $ref: "#/components/schemas/AlertsToggle"
            x-xgen-IPA-exception:
              xgen-IPA-107-update-method-request-body-is-update-request-suffixed-object: API predates IPA validation.
        required: true
      responses:
        "200":
          description: OK
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/HeaderRateLimitLimit"
            RateLimit-Remaining:
              $ref: "#/components/headers/HeaderRateLimitRemaining"
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: "#/components/schemas/GroupAlertsConfig"
              x-xgen-version: 2023-01-01
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/notFound"
        "429":
          $ref: "#/components/responses/tooManyRequests"
        "500":
          $ref: "#/components/responses/internalServerError"
      x-xgen-owner-team: CAP
      x-xgen-method-verb-override:
        verb: toggle
        customMethod: true
      x-rolesRequirements:
        - Project Alerts Manager
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Alert-Configurations/operation/toggleGroupAlertConfig
  /api/atlas/v2:
    get:
      tags:
        - Root
      summary: Return the Status of This MongoDB Application
      description: This resource returns information about the MongoDB application along with API key meta data.
      operationId: getSystemStatus
      parameters: []
      responses:
        "200":
          description: OK
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/HeaderRateLimitLimit"
            RateLimit-Remaining:
              $ref: "#/components/headers/HeaderRateLimitRemaining"
          content:
            application/vnd.atlas.2023-01-01+json:
              schema:
                $ref: "#/components/schemas/SystemStatus"
              x-xgen-version: 2023-01-01
        "401":
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "403":
          $ref: "#/components/responses/forbidden"
        "429":
          $ref: "#/components/responses/tooManyRequests"
        "500":
          $ref: "#/components/responses/internalServerError"
      x-xgen-owner-team: apix
      x-xgen-method-verb-override:
        verb: getSystemStatus
        customMethod: false
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Root/operation/getSystemStatus
  /api/atlas/v2/groups/{groupId}/serviceAccounts/{clientId}/accessList:
    get:
      tags:
        - Service Accounts
      summary: Return All Access List Entries for One Project Service Account
      description: Returns all access list entries that you configured for the specified Service Account for the project.
      operationId: listAccessList
      parameters:
        - $ref: "#/components/parameters/includeCount"
        - $ref: "#/components/parameters/itemsPerPage"
        - $ref: "#/components/parameters/groupId"
        - $ref: "#/components/parameters/pageNum"
        - name: clientId
          in: path
          description: The Client ID of the Service Account.
          required: true
          schema:
            pattern: ^mdb_sa_id_[a-fA-F\d]{24}$
            type: string
            example: mdb_sa_id_1234567890abcdef12345678
      responses:
        "200":
          description: OK
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/HeaderRateLimitLimit"
            RateLimit-Remaining:
              $ref: "#/components/headers/HeaderRateLimitRemaining"
          content:
            application/vnd.atlas.2024-08-05+json:
              schema:
                $ref: "#/components/schemas/PaginatedServiceAccountIPAccessEntry"
              x-xgen-version: 2024-08-05
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/notFound"
        "429":
          $ref: "#/components/responses/tooManyRequests"
        "500":
          $ref: "#/components/responses/internalServerError"
      x-xgen-owner-team: IAM Workload Identity
      x-rolesRequirements:
        - Project Read Only
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Service-Accounts/operation/listGroupServiceAccountAccessList
    post:
      tags:
        - Service Accounts
      summary: Add Access List Entries for One Project Service Account
      description: Add Access List Entries for the specified Service Account for the project. Resources require all API requests to originate from IP addresses on the API access list. To use this resource, the requesting Service Account or API Key must have the Project Owner role or Project Access Manager role.
      operationId: createAccessList
      parameters:
        - $ref: "#/components/parameters/includeCount"
        - $ref: "#/components/parameters/itemsPerPage"
        - $ref: "#/components/parameters/groupId"
        - $ref: "#/components/parameters/pageNum"
        - name: clientId
          in: path
          description: The Client ID of the Service Account.
          required: true
          schema:
            pattern: ^mdb_sa_id_[a-fA-F\d]{24}$
            type: string
            example: mdb_sa_id_1234567890abcdef12345678
      requestBody:
        description: A list of access list entries to add to the access list of the specified Service Account for the project.
        content:
          application/vnd.atlas.2024-08-05+json:
            schema:
              maxItems: 200
              type: array
              items:
                $ref: "#/components/schemas/ServiceAccountIPAccessListEntry"
              x-xgen-IPA-exception:
                xgen-IPA-124-array-max-items: Schema predates IPA validation.
            x-xgen-IPA-exception:
              xgen-IPA-106-create-method-request-body-is-request-suffixed-object: Content predates IPA validation.
              xgen-IPA-106-create-method-request-has-no-readonly-fields: Content predates IPA validation.
            x-xgen-version: 2024-08-05
        required: true
      responses:
        "200":
          description: OK
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/HeaderRateLimitLimit"
            RateLimit-Remaining:
              $ref: "#/components/headers/HeaderRateLimitRemaining"
          content:
            application/vnd.atlas.2024-08-05+json:
              schema:
                $ref: "#/components/schemas/PaginatedServiceAccountIPAccessEntry"
              x-xgen-version: 2024-08-05
        "400":
          $ref: "#/components/responses/badRequest"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/notFound"
        "409":
          $ref: "#/components/responses/conflict"
        "429":
          $ref: "#/components/responses/tooManyRequests"
        "500":
          $ref: "#/components/responses/internalServerError"
      x-xgen-IPA-exception:
        xgen-IPA-106-create-method-response-code-is-201: API predates IPA validation.
        xgen-IPA-106-create-method-should-not-have-query-parameters: API predates IPA validation.
      x-xgen-owner-team: IAM Workload Identity
      x-rolesRequirements:
        - Project Access Manager
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Service-Accounts/operation/createGroupServiceAccountAccessList
    x-xgen-IPA-exception:
      xgen-IPA-104-resource-has-GET: API predates IPA validation.
  /api/atlas/v2/groups/{groupId}/serviceAccounts/{clientId}/accessList/{ipAddress}:
    delete:
      tags:
        - Service Accounts
      summary: Remove One Access List Entry from One Project Service Account
      description: Removes the specified access list entry from the specified Service Account for the project. You can't remove the requesting IP address from the access list. To use this resource, the requesting Service Account or API Key must have the Project Owner role or Project Access Manager role.
      operationId: deleteGroupAccessEntry
      parameters:
        - $ref: "#/components/parameters/groupId"
        - name: clientId
          in: path
          description: The Client ID of the Service Account.
          required: true
          schema:
            pattern: ^mdb_sa_id_[a-fA-F\d]{24}$
            type: string
            example: mdb_sa_id_1234567890abcdef12345678
        - name: ipAddress
          in: path
          description: One IP address or multiple IP addresses represented as one CIDR block. When specifying a CIDR block with a subnet mask, such as 192.0.2.0/24, use the URL-encoded value %2F for the forward slash /.
          required: true
          schema:
            pattern: ^([0-9]{1,3}\.){3}[0-9]{1,3}(%2[fF][0-9]{1,3})?|([0-9a-f]{1,4}\:){7}[0-9a-f]{1,4}(%2[fF][0-9]{1,3})?|([0-9a-f]{1,4}\:){1,6}\:(%2[fF][0-9]{1,3})?$
            type: string
            example: 192.0.2.0%2F24
      responses:
        "204":
          description: This endpoint does not return a response body.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/HeaderRateLimitLimit"
            RateLimit-Remaining:
              $ref: "#/components/headers/HeaderRateLimitRemaining"
          content:
            application/vnd.atlas.2024-08-05+json:
              x-xgen-version: 2024-08-05
        "400":
          $ref: "#/components/responses/badRequest"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/notFound"
        "429":
          $ref: "#/components/responses/tooManyRequests"
        "500":
          $ref: "#/components/responses/internalServerError"
      x-xgen-owner-team: IAM Workload Identity
      x-xgen-method-verb-override:
        verb: deleteEntry
        customMethod: false
      x-rolesRequirements:
        - Project Access Manager
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Service-Accounts/operation/deleteGroupServiceAccountAccessListEntry
  /api/atlas/v2/groups/{groupId}/serviceAccounts/{clientId}/secrets:
    post:
      tags:
        - Service Accounts
      summary: Create One Project Service Account Secret
      description: Create a secret for the specified Service Account in the specified Project.
      operationId: createGroupSecret
      parameters:
        - $ref: "#/components/parameters/groupId"
        - name: clientId
          in: path
          description: The Client ID of the Service Account.
          required: true
          schema:
            pattern: ^mdb_sa_id_[a-fA-F\d]{24}$
            type: string
            example: mdb_sa_id_1234567890abcdef12345678
      requestBody:
        description: Details for the new secret.
        content:
          application/vnd.atlas.2024-08-05+json:
            schema:
              $ref: "#/components/schemas/ServiceAccountSecretRequest"
        required: true
      responses:
        "201":
          description: Created
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/HeaderRateLimitLimit"
            RateLimit-Remaining:
              $ref: "#/components/headers/HeaderRateLimitRemaining"
          content:
            application/vnd.atlas.2024-08-05+json:
              schema:
                $ref: "#/components/schemas/ServiceAccountSecret"
              x-xgen-version: 2024-08-05
        "400":
          $ref: "#/components/responses/badRequest"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/notFound"
        "429":
          $ref: "#/components/responses/tooManyRequests"
        "500":
          $ref: "#/components/responses/internalServerError"
      x-xgen-owner-team: IAM Workload Identity
      x-rolesRequirements:
        - Project Owner
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Service-Accounts/operation/createGroupServiceAccountSecret
    x-xgen-IPA-exception:
      xgen-IPA-105-resource-has-list: API predates IPA validation.
      xgen-IPA-104-resource-has-GET: API predates IPA validation.
  /api/atlas/v2/groups/{groupId}/serviceAccounts/{clientId}/secrets/{secretId}:
    delete:
      tags:
        - Service Accounts
      summary: Delete One Project Service Account Secret
      description: Deletes the specified Service Account secret.
      operationId: deleteGroupSecret
      parameters:
        - name: clientId
          in: path
          description: The Client ID of the Service Account.
          required: true
          schema:
            pattern: ^mdb_sa_id_[a-fA-F\d]{24}$
            type: string
            example: mdb_sa_id_1234567890abcdef12345678
        - name: secretId
          in: path
          description: Unique 24-hexadecimal digit string that identifies the secret.
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/groupId"
      responses:
        "204":
          description: This endpoint does not return a response body.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/HeaderRateLimitLimit"
            RateLimit-Remaining:
              $ref: "#/components/headers/HeaderRateLimitRemaining"
          content:
            application/vnd.atlas.2024-08-05+json:
              x-xgen-version: 2024-08-05
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/notFound"
        "429":
          $ref: "#/components/responses/tooManyRequests"
        "500":
          $ref: "#/components/responses/internalServerError"
      x-xgen-owner-team: IAM Workload Identity
      x-rolesRequirements:
        - Project Owner
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Service-Accounts/operation/deleteGroupServiceAccountSecret
  /api/atlas/v2/groups/{groupId}/serviceAccounts/{clientId}:invite:
    post:
      tags:
        - Service Accounts
      summary: Assign One Service Account to One Project
      description: Assigns the specified Service Account to the specified Project.
      operationId: inviteGroupServiceAccount
      parameters:
        - name: clientId
          in: path
          description: The Client ID of the Service Account.
          required: true
          schema:
            pattern: ^mdb_sa_id_[a-fA-F\d]{24}$
            type: string
            example: mdb_sa_id_1234567890abcdef12345678
        - $ref: "#/components/parameters/groupId"
      requestBody:
        description: The Project permissions for the Service Account in the specified Project.
        content:
          application/vnd.atlas.2024-08-05+json:
            schema:
              $ref: "#/components/schemas/GroupServiceAccountRoleAssignment"
            x-xgen-version: 2024-08-05
        required: true
      responses:
        "200":
          description: OK
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/HeaderRateLimitLimit"
            RateLimit-Remaining:
              $ref: "#/components/headers/HeaderRateLimitRemaining"
          content:
            application/vnd.atlas.2024-08-05+json:
              schema:
                $ref: "#/components/schemas/GroupServiceAccount"
              x-xgen-version: 2024-08-05
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/notFound"
        "429":
          $ref: "#/components/responses/tooManyRequests"
        "500":
          $ref: "#/components/responses/internalServerError"
      x-xgen-owner-team: IAM Workload Identity
      x-rolesRequirements:
        - Organization Owner
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Service-Accounts/operation/inviteGroupServiceAccount
  /api/atlas/v2/groups/{groupId}/serviceAccounts:
    get:
      tags:
        - Service Accounts
      summary: Return All Project Service Accounts
      description: Returns all Service Accounts for the specified Project.
      operationId: listGroupServiceAccounts
      parameters:
        - $ref: "#/components/parameters/groupId"
        - $ref: "#/components/parameters/itemsPerPage"
        - $ref: "#/components/parameters/pageNum"
      responses:
        "200":
          description: OK
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/HeaderRateLimitLimit"
            RateLimit-Remaining:
              $ref: "#/components/headers/HeaderRateLimitRemaining"
          content:
            application/vnd.atlas.2024-08-05+json:
              schema:
                $ref: "#/components/schemas/PaginatedGroupServiceAccounts"
              x-xgen-version: 2024-08-05
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/notFound"
        "429":
          $ref: "#/components/responses/tooManyRequests"
        "500":
          $ref: "#/components/responses/internalServerError"
      x-xgen-owner-team: IAM Workload Identity
      x-rolesRequirements:
        - Project Read Only
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Service-Accounts/operation/listGroupServiceAccounts
    post:
      tags:
        - Service Accounts
      summary: Create One Project Service Account
      description: Creates one Service Account for the specified Project. The Service Account will automatically be added as an Organization Member to the Organization that the specified Project is a part of.
      operationId: createGroupServiceAccount
      parameters:
        - $ref: "#/components/parameters/groupId"
      requestBody:
        description: Details of the new Service Account.
        content:
          application/vnd.atlas.2024-08-05+json:
            schema:
              $ref: "#/components/schemas/GroupServiceAccountRequest"
            x-xgen-IPA-exception:
              xgen-IPA-106-create-method-request-body-is-get-method-response: Content predates IPA validation.
            x-xgen-version: 2024-08-05
        required: true
      responses:
        "201":
          description: Created
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/HeaderRateLimitLimit"
            RateLimit-Remaining:
              $ref: "#/components/headers/HeaderRateLimitRemaining"
          content:
            application/vnd.atlas.2024-08-05+json:
              schema:
                $ref: "#/components/schemas/GroupServiceAccount"
              x-xgen-version: 2024-08-05
        "400":
          $ref: "#/components/responses/badRequest"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/notFound"
        "429":
          $ref: "#/components/responses/tooManyRequests"
        "500":
          $ref: "#/components/responses/internalServerError"
      x-xgen-owner-team: IAM Workload Identity
      x-rolesRequirements:
        - Project Owner
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Service-Accounts/operation/createGroupServiceAccount
  /api/atlas/v2/groups/{groupId}/serviceAccounts/{clientId}:
    get:
      tags:
        - Service Accounts
      summary: Return One Project Service Account
      description: Returns one Service Account in the specified Project.
      operationId: getGroupServiceAccount
      parameters:
        - $ref: "#/components/parameters/groupId"
        - name: clientId
          in: path
          description: The Client ID of the Service Account.
          required: true
          schema:
            pattern: ^mdb_sa_id_[a-fA-F\d]{24}$
            type: string
            example: mdb_sa_id_1234567890abcdef12345678
      responses:
        "200":
          description: OK
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/HeaderRateLimitLimit"
            RateLimit-Remaining:
              $ref: "#/components/headers/HeaderRateLimitRemaining"
          content:
            application/vnd.atlas.2024-08-05+json:
              schema:
                $ref: "#/components/schemas/GroupServiceAccount"
              x-xgen-IPA-exception:
                xgen-IPA-104-get-method-returns-response-suffixed-object: API predates IPA validation.
              x-xgen-version: 2024-08-05
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/notFound"
        "429":
          $ref: "#/components/responses/tooManyRequests"
        "500":
          $ref: "#/components/responses/internalServerError"
      x-xgen-owner-team: IAM Workload Identity
      x-rolesRequirements:
        - Project Read Only
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Service-Accounts/operation/getGroupServiceAccount
    delete:
      tags:
        - Service Accounts
      summary: Remove One Project Service Account
      description: Removes the specified Service Account from the specified project. The Service Account will still be a part of the Organization it was created in, and the credentials will remain active until expired or manually revoked.
      operationId: deleteGroupServiceAccount
      parameters:
        - name: clientId
          in: path
          description: The Client ID of the Service Account.
          required: true
          schema:
            pattern: ^mdb_sa_id_[a-fA-F\d]{24}$
            type: string
            example: mdb_sa_id_1234567890abcdef12345678
        - $ref: "#/components/parameters/groupId"
      responses:
        "204":
          description: This endpoint does not return a response body.
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/HeaderRateLimitLimit"
            RateLimit-Remaining:
              $ref: "#/components/headers/HeaderRateLimitRemaining"
          content:
            application/vnd.atlas.2024-08-05+json:
              x-xgen-version: 2024-08-05
          x-xgen-version: 2024-08-05
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/notFound"
        "429":
          $ref: "#/components/responses/tooManyRequests"
        "500":
          $ref: "#/components/responses/internalServerError"
      x-xgen-owner-team: IAM Workload Identity
      x-rolesRequirements:
        - Project Owner
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Service-Accounts/operation/deleteGroupServiceAccount
    patch:
      tags:
        - Service Accounts
      summary: Update One Project Service Account
      description: Updates one Service Account in the specified Project.
      operationId: updateGroupServiceAccount
      parameters:
        - name: clientId
          in: path
          description: The Client ID of the Service Account.
          required: true
          schema:
            pattern: ^mdb_sa_id_[a-fA-F\d]{24}$
            type: string
            example: mdb_sa_id_1234567890abcdef12345678
        - $ref: "#/components/parameters/groupId"
      requestBody:
        description: The new details for the Service Account.
        content:
          application/vnd.atlas.2024-08-05+json:
            schema:
              $ref: "#/components/schemas/GroupServiceAccountUpdateRequest"
            x-xgen-IPA-exception:
              xgen-IPA-107-update-method-request-body-is-get-method-response: API predates IPA validation.
        required: true
      responses:
        "200":
          description: OK
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/HeaderRateLimitLimit"
            RateLimit-Remaining:
              $ref: "#/components/headers/HeaderRateLimitRemaining"
          content:
            application/vnd.atlas.2024-08-05+json:
              schema:
                $ref: "#/components/schemas/GroupServiceAccount"
              x-xgen-version: 2024-08-05
        "400":
          $ref: "#/components/responses/badRequest"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/notFound"
        "429":
          $ref: "#/components/responses/tooManyRequests"
        "500":
          $ref: "#/components/responses/internalServerError"
      x-xgen-owner-team: IAM Workload Identity
      x-rolesRequirements:
        - Project Owner
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Service-Accounts/operation/updateGroupServiceAccount
  /api/atlas/v2/orgs/{orgId}/serviceAccounts/{clientId}/accessList:
    get:
      tags:
        - Service Accounts
      summary: Return All Access List Entries for One Organization Service Account
      description: Returns all access list entries that you configured for the specified Service Account for the organization.
      operationId: listOrgAccessList
      parameters:
        - $ref: "#/components/parameters/includeCount"
        - $ref: "#/components/parameters/itemsPerPage"
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/pageNum"
        - name: clientId
          in: path
          description: The Client ID of the Service Account.
          required: true
          schema:
            pattern: ^mdb_sa_id_[a-fA-F\d]{24}$
            type: string
            example: mdb_sa_id_1234567890abcdef12345678
      responses:
        "200":
          description: OK
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/HeaderRateLimitLimit"
            RateLimit-Remaining:
              $ref: "#/components/headers/HeaderRateLimitRemaining"
          content:
            application/vnd.atlas.2024-08-05+json:
              schema:
                $ref: "#/components/schemas/PaginatedServiceAccountIPAccessEntry"
              x-xgen-version: 2024-08-05
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/notFound"
        "429":
          $ref: "#/components/responses/tooManyRequests"
        "500":
          $ref: "#/components/responses/internalServerError"
      x-xgen-owner-team: IAM Workload Identity
      x-rolesRequirements:
        - Organization Read Only
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Service-Accounts/operation/listOrgServiceAccountAccessList
    post:
      tags:
        - Service Accounts
      summary: Add Access List Entries for One Organization Service Account
      description: Add Access List Entries for the specified Service Account for the organization. Resources require all API requests to originate from IP addresses on the API access list.
      operationId: createOrgAccessList
      parameters:
        - $ref: "#/components/parameters/includeCount"
        - $ref: "#/components/parameters/itemsPerPage"
        - $ref: "#/components/parameters/orgId"
        - $ref: "#/components/parameters/pageNum"
        - name: clientId
          in: path
          description: The Client ID of the Service Account.
          required: true
          schema:
            pattern: ^mdb_sa_id_[a-fA-F\d]{24}$
            type: string
            example: mdb_sa_id_1234567890abcdef12345678
      requestBody:
        description: A list of access list entries to add to the access list of the specified Service Account for the organization.
        content:
          application/vnd.atlas.2024-08-05+json:
            schema:
              maxItems: 200
              type: array
              items:
                $ref: "#/components/schemas/ServiceAccountIPAccessListEntry"
              x-xgen-IPA-exception:
                xgen-IPA-124-array-max-items: Schema predates IPA validation.
            x-xgen-IPA-exception:
              xgen-IPA-106-create-method-request-body-is-request-suffixed-object: Content predates IPA validation.
              xgen-IPA-106-create-method-request-has-no-readonly-fields: Content predates IPA validation.
            x-xgen-version: 2024-08-05
        required: true
      responses:
        "200":
          description: OK
          headers:
            RateLimit-Limit:
              $ref: "#/components/headers/HeaderRateLimitLimit"
            RateLimit-Remaining:
              $ref: "#/components/headers/HeaderRateLimitRemaining"
          content:
            application/vnd.atlas.2024-08-05+json:
              schema:
                $ref: "#/components/schemas/PaginatedServiceAccountIPAccessEntry"
              x-xgen-version: 2024-08-05
        "400":
          $ref: "#/components/responses/badRequest"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/notFound"
        "409":
          $ref: "#/components/responses/conflict"
        "429":
          $ref: "#/components/responses/tooManyRequests"
        "500":
          $ref: "#/components/responses/internalServerError"
      x-xgen-IPA-exception:
        xgen-IPA-106-create-method-response-code-is-201: API predates IPA validation.
        xgen-IPA-106-create-method-should-not-have-query-parameters: API predates IPA validation.
      x-xgen-owner-team: IAM Workload Identity
      x-rolesRequirements:
        - Organization Owner
      x-xgen-docs-url: https://mongodb.com/docs/atlas/reference/api-resources-spec/v2/#tag/Service-Accounts/operation/createOrgServiceAccountAccessList
    x-xgen-IPA-exception:
      xgen-IPA-104-resource-has-GET: API predates IPA validation.
  /api/atlas/v2/orgs/{orgId}/serviceAccounts/{clientId}/accessList/{ipAddress}:
    delete:
      tags:
        - Service Accounts
      summary: Remove One Access List Entry from One Organization Service Account
      description: Removes the specified access list entry from the specified Service Account for the organization. You can't remove the requesting IP address from the access list.
      operationId: deleteOrgAccessEntry
      parameters:
        - $ref: "#/components/parameters/orgId"
        - name: clientId
          in: path
          description: The Client ID of the Service Account.
          required: true
          schema:
            pattern: ^mdb_sa_id_[a-fA-F\d]{24}$
            type: string
            example: mdb_sa_id_1234567890abcdef12345678
        - name: ipAddress
          in: path
          description: One IP address or multiple IP addresses represented as one CIDR block. When specifying a CIDR block with a subnet mask, such as 192.0.2.0/24, use the URL-encoded value %2F for the forward slash /.
          required: true
          schema:
[...]
