
# ${SDK_VERSION} Release Notes

## Notes

 The Atlas Golang SDK official ${SDK_VERSION} release. 

## SDK documentation
 
Please refer to the official documentation

https://www.mongodb.com/docs/atlas/sdk/

## API documentation

SDK is based on Atlas Admin v2 API.
Currently supported version: ${HYPEN_RESOURCE_VERSION}

For API documentation please refer to: 
https://www.mongodb.com/docs/atlas/reference/api-resources-spec/v2/${HYPEN_RESOURCE_VERSION}/
