
package {{packageName}}

import (
	"context"
	## Hardcoded in template
	{{goImportAlias}} "go.mongodb.org/atlas-sdk/v20230201004/admin"
	)

{{#operations}}
{{#operation}}
func api_{{packageName}}_{{classname}}{{operationId}}Test() {
	configuration := {{goImportAlias}}.NewConfiguration()
	apiClient := {{goImportAlias}}.NewAPIClient(configuration)
	// Calling {{classname}}Service {{{nickname}}}",
	// TODO this test is only used for compilation and it is not designed to be run directly
	{{#pathParams}}
	var {{paramName}} {{{dataType}}}
	{{/pathParams}}	
	{{#queryParams}}
	// var {{paramName}} {{{dataType}}}
	{{/queryParams}}	
	{{#bodyParams}}
	{{#isArray}}
	var {{paramName}} []{openapiclient}.{{{baseType}}}
	{{/isArray}}
	{{^isArray}}
	var {{paramName}} openapiclient.{{{dataType}}} = openapiclient.{{{dataType}}}{
		{{.}}
	}
	{{/isArray}}
	{{/bodyParams}}

	{{#returnType}}resp, {{/returnType}}httpRes, err := apiClient.{{classname}}.{{operationId}}(context.Background(){{#pathParams}}, {{paramName}}{{/pathParams}}{{#bodyParams}}, &{{paramName}}{{/bodyParams}}).Execute()
}
{{/operation}}
{{/operations}}

