{{! X-XGEN-CUSTOM }}# SDK Reference 

## Reference Documentation for SDK Endpoints

All URIs are relative to *{{basePath}}*

Class        | Method        | Description   | Stability level   
------------ | ------------- | ------------- | ------------- | -------------
{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}*{{classname}}* | [{{operationId}}](./{{apiDocPath}}{{classname}}.md#{{operationIdLowerCase}}) |  {{summary}} | {{#vendorExtensions.x-xgen-experimental}}Experimental{{/vendorExtensions.x-xgen-experimental}}{{^vendorExtensions.x-xgen-experimental}}Stable{{/vendorExtensions.x-xgen-experimental}}
{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}

## Documentation For Models

{{#models}}{{#model}} - [{{{classname}}}](./{{modelDocPath}}{{{classname}}}.md)
{{/model}}{{/models}}

{{#apiInfo}}{{#apis}}{{#-last}}{{infoEmail}}
{{/-last}}{{/apis}}{{/apiInfo}}
