{{! X-XGEN-CUSTOM }}# SDK Reference 

## Documentation for SDK Endpoints

All URIs are relative to *{{basePath}}*

Class | Method | HTTP request | Description
------------ | ------------- | ------------- | -------------
{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}*{{classname}}* | [{{operationId}}](https://github.com/mongodb/atlas-sdk-go/blob/main/docs/{{apiDocPath}}{{classname}}.md#{{operationIdLowerCase}}) | **{{httpMethod}}** {{path}} | {{summary}}
{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}

## Documentation For Models

{{#models}}{{#model}} - [{{{classname}}}](https://github.com/mongodb/atlas-sdk-go/blob/main/docs/{{modelDocPath}}{{{classname}}}.md)
{{/model}}{{/models}}

{{#apiInfo}}{{#apis}}{{#-last}}{{infoEmail}}
{{/-last}}{{/apis}}{{/apiInfo}}
