---
name: CI
on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:
jobs:
  code-health:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
        with:
          go-version-file: go.mod
          cache: false # see https://github.com/golangci/golangci-lint-action/issues/807
      - name: lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20
        with:
          version: v2.1.6 # Also update GOLANGCI_VERSION variable in Makefile when updating this version
      - name: tests
        run: make test
      - name: example-tests
        run: make test-examples
  
  build:
    needs: code-health # only run if code-health passes
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
        with:
          node-version: 20.x
          cache: npm
          cache-dependency-path: ./tools/package-lock.json
      - working-directory: ./tools
        run: |
          npm install
          npm run ci
      - run: make install-goimports
      - working-directory: ./tools
        run: |
          export PATH=${PATH}:`go env GOPATH`/bin
          make clean_and_generate
      - name: Fail when generate introducing diff
        run: |
          git diff --exit-code
